@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

html,
body {
  box-sizing: border-box;
}

.container .row .col-md-6 h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
}

.btn-desconto {
  background-color: #339121;
  /* topo | direita | inferior | esquerda */
  padding: 0px 40px 0px 40px;
}

.btn-desconto:last-child:hover {
  cursor: pointer;
}

.btn-desconto span {
  line-height: 44px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}

.compra-whatsapp a {
  line-height: 44px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.desc-produto p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.compra-whatsapp {
  width: 45%;
  background-color: #339121;
  height: 44px;
}

.compra-whatsapp:hover {
  cursor: pointer;
}

.compra-whatsapp span {
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.spacer {
  margin-bottom: 30px;
}

.price-anterior {
  font-size: 14px;
  color: #808080;
  text-decoration: line-through;
}

.price-descontado {
  color: #339121;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.a-vista {
  color: #339121;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.quantidade-parcela {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #808080;
  font-size: 25px;
}

.price-parcela {
  color: #339121;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
}

.informacao-uso-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.user-name span {
  content: "\2605";
  color: #ffd700;
  font-size: 25px;
}

.user-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.user-descricao {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.textarea {
  width: 100%;
  margin-left: 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  font-size: 16px;
  /* topo | direita | inferior | esquerda */
  padding: 15px 40px 40px 15px;
}

.info-user-avaliacao {
  display: flex;
  grid-gap: 20px;
  flex-flow: row wrap;
}

.info-user-avaliacao-name {
  height: 16px;
  flex: 1;

  box-sizing: border-box;
  border: 2px solid #ccc;

  padding: 15px;
}

.info-user-avaliacao-email {
  height: 16px;
  flex: 1;

  box-sizing: border-box;
  border: 2px solid #ccc;

  padding: 15px;
}

.button-enviar-avaliacao {
  height: 44px;
  flex: 1;
  background-color: #339121;
}

.xmd-div-estrela-avaliacao {
  width: 100%;
  display: flex;
  margin-top: 20px;
  grid-gap: 20px;
  flex-flow: row wrap;
}

.out-div-estrela-avaliacao {
  height: 44px;
  flex: 1;
  display: flex;
  align-items: center;
  grid-gap: 20px;
}

.div-estrela-avaliacao {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.div-estrela-avaliacao li{
  align-self: center;
  margin-bottom: 5px;
}

.div-estrela-avaliacao li:hover{
  cursor: pointer;
}

.div-estrela-avaliacao li::before {
  content: "\2605";
  font-size: 40px;
  color: #FFD700;
}

.div-estrela-avaliacao li {
  list-style: none;
}

.star-icon.ativo ~ .star-icon::before {
  content: "\2606";
}

.div-estrela-avaliacao:hover .star-icon::before {
  content: "\2605"
}

.star-icon:hover ~ .star-icon::before {
  content: "\2606";
}


@media (max-width: 1199px) {
  .btn-desconto:last-child {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .btn-desconto {
    margin-top: 0;
  }
}

@media (max-width: 523px) {
  .btn-desconto:last-child {
    margin-top: 30px;
  }
}
