<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olhar os Produtos - Lida Admin</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Custom styles for this template-->
    <link href="../static/css/admin-css/sb-admin-2min.css" rel="stylesheet">
    <!-- Para estilos mais leves -->
    <link href="../static/css/admin-css/main.css" rel="stylesheet">
</head>

<body>
    {% include "admin/navadmin.html" %}
    <!-- End of Topbar -->
    <div class="container at-5">
        <table class="table table-sm table-condensed table-striped">
            <h1>Produtos</h1>
            <thead>
                <th>id</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Desconto</th>
                <th>Estoque</th>
                <th>Imagem</th>
                <th>Editar</th>
                <th>Deletar</th>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{produto.nome}}</td>
                    <td>R$ {{produto.price}}</td>
                    <td>{{produto.desconto}} %</td>
                    <td>{{produto.estoque}}</td>
                    <td>
                        <img src="{{url_for('static', filename='assets/posts/' + produto.image)}}" width="50"
                            height="40" />
                    </td>

                    <form action="{{url_for('atualizar_produto', id=produto.id)}}" method="GET">
                        <td><button type="submit" class="btn btn-warning">Editar</button></td>
                    </form>
                    <form action="{{url_for('delete_produto', id=produto.id)}}" method="POST">
                        <td><button type="submit" class="btn btn-danger">Deletar</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="../static/js/admin/jquery.min.js"></script>
    <script src="../static/js/admin/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/js/admin/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/admin/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/js/admin/chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/admin/chart-area-demo.js"></script>
    <script src="../static/js/chart-pie-demo.js"></script>
    <!-- Animation to Chevron -->
    <script src="../static/js/admin/simple-animation-chevron/index.js"></script>

</body>

</html>