<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; height: 25px; background-color: #339121;">
        <center>
            <span style="text-align: center; color: #FFFF;">PARA REALIZAR UMA COMPRA ENTRE EM CONTATO CONOSCO NO 
                <a>WHATSAPP</a></span>
        </center>
    </div>
</body>
</html>