<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../static/assets/Lida agro.jpg" type="image/icon type">
    <script src="{{url_for('static', filename='js/cookie/index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cookie/main.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div id="consent-popup" class="hidden">
        <p> <b>Você gosta de cookies? 🍪</b> Usamos cookies para garantir que você tenha uma melhor experiência em nosso
            site.
            <a href="https://www.cookiesandyou.com/" target="_blank">Ler mais sobre</a> <button class="btn btn-success ms-2" id="accept">Eu aceito</button>
        </p>
    </div>
</body>

</html>