<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/teste/index.css')}}">
    <link rel="shortcut icon" href="../static/assets/Lida agro.jpg" type="image/icon type">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home/footerHome/main.css')}}">
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Lida Agropecuária - Seja bem vindo</title>
</head>
<style>
    p{
        color: #339121
    }
    a{
      text-decoration: none !important;
    }
</style>
<body style="background-color: #f7f7f7;">
    {% include "navbar.html" %}
    {% include "layout.html" %}
    <div class="col-sm-12 align-items-center com-md-4" style="background-color: green;">
        <div class="img-banner-bg">
            <div class="img-banner-text">
              <h3>SEJA BEM-VINDO A LIDA AGROPECUÁRIA</h3>
              <hr>
              <h1>TEMOS TUDO PARA SEU AGRONEGÓCIO</h1>
            </div>
          </div>
          <main>
            <div class="container-bg">
                <div class="container">
                  <h1>Os mais pedidos</h1>
                </div>
              </div>
              <!-- Cards -->
              <div class="content-info-produtos">
              {% for produto in produtos %}
              <ul class="ul-info-produtos">
                {% if produto.desconto > 0 %}
                <div class="div-desconto">
                  <p class="text-desconto percent">{{produto.desconto}}%</p>
                  <p class="text-desconto">OFF</p>
                  {% else %}
                  <div class="div-desconto" style="background-color: transparent;">
                    <p class="text-desconto percent">25%</p>
                    <p class="text-desconto">OFF</p>
                    {% endif %}
                    <div class="div-image-container">
                      <div class="div-child-image">
                        <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}" style="text-decoration: none;">
                          <p>
                            <img src="{{url_for('static', filename='assets/posts/' + produto.image)}}" alt="{{produto.nome}}"
                            class="div-child-image padding-bottom"/></a>
                          </p>
                      </div>
                    </div>
          
                    <div class="div-nome-produto">
                      <p class="nome-produto">{{produto.nome}}</p>
                      {% if produto.desconto > 0 %}
                        {% set a = "%0.2f"|format(produto.price|float) %}
                        <div class="cifra-real" style="color: #B0B0B0; font-size: 12px; margin-left: 3px; padding-top: 2px;">
                        <p class="">R$</p>
                        <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}">
                          <p class="price-produto-sem-desconto strikethroug" style="color: #B0B0B0; font-size: 12px;">{{a.replace('.',',')}}</p>
                        </a>
                        </div>
                        {% set x = produto.desconto/100 %}
                        {% set y = "%0.2f" | format((x * produto.price|float)) %}
                        {% set z = "%0.2f" | format((y|float - produto.price|float) *-1) %}
          
                        <div class="cifra-real">
                          <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}">
                            <p class="">R$</p>
                          </a>
                          <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}">
                            <p class="price-produto-com-desconto"> {{z.replace('.', ',')}}</p>
                          </a>
                        </div>
                        {% else %}
                        <!-- Produto sem desconto -->
                        <div class="cifra-real">
                          <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}" style="display: flex;">
                            <p class="">R$</p>
                            {% set h = "%0.2f"|format(produto.price|float) %}
                            <p class="price-produto-com-desconto"> {{h.replace('.', ',')}}</p>
                          </a>
                        </div>
                      {% endif %}
                      <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}">
                        <p class="tipo-compra">À vista</p>
                      </a>
                      <a href="{{url_for('single_page', id=produto.id, categoria=produto.categoria)}}">
                        <input type="hidden" name="produto_id" value="{{produto.id}}">
                        <button type="submit" class="button-compra">COMPRAR</button>
                        <input type="hidden" name="quantidade" id="" value="1" min="1" max="{{produto.estoque}}">
                      </a>
                    </div>
                  </div>
              </ul>
              {% endfor %}
            </div>
          </main>

          <section>
            <div class="destaques">
              <div class="container">
                <h1>DESTAQUE</h1>
              </div>
              <div class="content-info-produtos-destaques">
                <ul class="ul-info-produtos-destaques">
                  <div class="div-desconto-destaques">
                    <div class="div-image-container">
                      <div style="width: 100%; height: 100%; position: absolute;">
                        <div class="path-brown"></div>
                        <div class="path-green"></div>
                      </div>
                      <div class="div-destaque-img">
                        <img src="{{url_for('static', filename='assets/gramizap-imazapir_186568-removebg-preview.png')}}"
                          class="destaque-img" />
                      </div>
                    </div>
        
                    <div class="div-nome-produto">
                      <p class="nome-produto">Fertilizante Mineral Dimy Grass</p>
                      <p class="price-produto-sem-desconto">R$ 47.90</p>
                      <p class="price-produto-com-desconto">R$ 35,90</p>
                      <p class="tipo-compra">À vista</p>
                      <button class="button-compra">COMPRAR</button>
                    </div>
                  </div>
                </ul>
                <ul class="ul-info-produtos-destaques">
                  <div class="div-desconto-destaques">
                    <div class="div-image-container">
                      <div style="width: 100%; height: 100%; position: absolute;">
                        <div class="path-brown"></div>
                        <div class="path-green"></div>
                      </div>
                      <div class="div-destaque-img">
                        <img src="{{url_for('static', filename='assets/gramizap-imazapir_186568-removebg-preview.png')}}"
                          class="destaque-img" />
                      </div>
                    </div>
        
                    <div class="div-nome-produto">
                      <p class="nome-produto">Fertilizante Mineral Dimy Grass</p>
                      <p class="price-produto-sem-desconto">R$ 47.90</p>
                      <p class="price-produto-com-desconto">R$ 35,90</p>
                      <p class="tipo-compra">À vista</p>
                      <button class="button-compra">COMPRAR</button>
                    </div>
                  </div>
                </ul>
                <ul class="ul-info-produtos-destaques">
                  <div class="div-desconto-destaques">
                    <div class="div-image-container">
                      <div style="width: 100%; height: 100%; position: absolute;">
                        <div class="path-brown"></div>
                        <div class="path-green"></div>
                      </div>
                      <div class="div-destaque-img">
                        <img src="{{url_for('static', filename='assets/gramizap-imazapir_186568-removebg-preview.png')}}"
                          class="destaque-img" />
                      </div>
                    </div>
        
                    <div class="div-nome-produto">
                      <p class="nome-produto">Fertilizante Mineral Dimy Grass</p>
                      <p class="price-produto-sem-desconto">R$ 47.90</p>
                      <p class="price-produto-com-desconto">R$ 35,90</p>
                      <p class="tipo-compra">À vista</p>
                      <button class="button-compra">COMPRAR</button>
                    </div>
                  </div>
                </ul>
                <ul class="ul-info-produtos-destaques">
                  <div class="div-desconto-destaques">
                    <div class="div-image-container">
                      <div style="width: 100%; height: 100%; position: absolute;">
                        <div class="path-brown"></div>
                        <div class="path-green"></div>
                      </div>
                      <div class="div-destaque-img">
                        <img src="{{url_for('static', filename='assets/gramizap-imazapir_186568-removebg-preview.png')}}"
                          class="destaque-img" />
                      </div>
                    </div>
        
                    <div class="div-nome-produto">
                      <p class="nome-produto">Fertilizante Mineral Dimy Grass</p>
                      <p class="price-produto-sem-desconto">R$ 47.90</p>
                        <p class="price-produto-com-desconto">R$ 35,90</p>
                      <p class="tipo-compra">À vista</p>
                      <button class="button-compra">COMPRAR</button>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </section>
        </div>

        <!-- FOOTER -->
        <section class="footer">
          <div class="social">
            <a href="https://www.instagram.com/lida_agropecuaria_/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.google.com/maps/@-5.1999891,-37.3079294,0a,73.7y,225.36h,68.69t/data=!3m4!1e1!3m2!1sgtOOzjiyzeRQ8_AP2zHF1Q!2e0?source=apiv3" target="_blank"><i class="fa-solid fa-location-dot"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100028551081820" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
          <ul class="list">
            <li>
              <a href="{{url_for('home')}}">Home</a>
            </li>
            <li>
              <a href="{{url_for('produtos_cliente')}}">Produtos</a>
            </li>
            <li>
              <a href="#">Termos</a>
            </li>
            <li>
              <a href="#">Política de Privacidade</a>
            </li>
          </ul>
          <p class="copyright">
            <a href="https://github.com/drielsz" target="_blank" style="color: #fff">
              Adriel Oliveira @ 2022
            </a>
          </p>
        </section>
</body>
</html>