<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/star/main.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="xmd-div-estrela-avaliacao">
        <!-- Estrelas Avaliação -->
        <div class="out-div-estrela-avaliacao">
            <div class="div-estrela-avaliacao">
                <input type="hidden" id="number-star" name="number-star" value="">
                <li class="star-icon ativo" data-avaliacao="1" name="estrela_avaliacao"></li>
                <li class="star-icon" data-avaliacao="2" name="estrela_avaliacao"></li>
                <li class="star-icon" data-avaliacao="3" name="estrela_avaliacao"></li>
                <li class="star-icon" data-avaliacao="4" name="estrela_avaliacao"></li>
                <li class="star-icon" data-avaliacao="5" name="estrela_avaliacao"></li>
            </div>
        </div>
        <button type="submit" class="button-enviar-avaliacao">
            <span style="text-align: center; line-height: 44px; color: white">
                <center>
                    Enviar Avaliação
                </center>
            </span>
        </button>
    </div>
    
    <script src="{{url_for('static', filename='js/star/index.js')}}"></script>
</body>
</html>