<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cliente/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cliente/second-nav.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <header class="header">
        <div class="container" >
            <div class="row align-items-center justify-content-between">
                <div class="logo">
                    <a href="{{url_for('home')}}">
                        <img class="logo-holder" src="{{url_for('static', filename='assets/LIDA_LOGO.png')}}" alt="logo"
                            width="90" height="90">
                    </a>
                </div>

                <form action="{{url_for('result')}}" autocomplete="off" class="form-input">
                    <div class="input-display">
                        <div class="input">
                            <input placeholder="Digite o produto que deseja" class="input-nav" name="q" list="list-S">
                        </div>
                        {% for produto in produtos %}
                            <datalist id="list-S">
                                <div style="display: flex;">
                                    <option value="{{produto.nome}}">
                                </div>
                            </datalist>
                        {% endfor %}

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search q" viewBox="0 0 16 16"
                            style="position: absolute; top: 45px; left: 465px;">
                            <path fill="#339121"
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </div>
                </form>

                <button type="button" class="nav-toggler">
                    <span></span>
                </button>

                <nav class="nav">
                    <ul class="sections">
                        <li><a href="{{url_for('produtos_cliente')}}">produtos</a></li>
                        <li><a href="{{url_for('atendimento')}}">atendimento</a></li>
                        <li><a href="{{url_for('lida_agro')}}">empresa</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('logout')}}">sair</a></li>
                        {% else %}
                        <li><a href="{{url_for('login')}}">login</a></li>
                        {% endif %}
                        <!-- Mobile Cart -->
                        <li class="row">
                            <a href="{{url_for('getCart')}}" class="a-point-first-cart">
                                <div class="display-text-cart">
                                    CARRINHO
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span
                                        class="badge badge-danger badge-counter">{{session['Shoppingcart']|length}}+</span>
                                </div>
                            </a>
                        </li>
                        {% if session['Shoppingcart']|length > 0 %}
                        <li class="anim" style="margin: 0"><a href="{{url_for('getCart')}}" style="padding: 0">
                                {% else %}
                        <li class="" style="margin: 0"><a href="{{url_for('getCart')}}" style="padding: 0">
                                {% endif %}
                                <div class="div-top-bar-cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-cart3" viewBox="0 0 16 16" style="margin-bottom: 12px;">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span
                                        class="badge badge-danger badge-counter">{{session['Shoppingcart']|length}}+</span>
                            </a></li>
            </div>
            </ul>
            </nav>
        </div>
        </div>
    </header>

    <div class="lh-40 bg-color">  
        <ul class="w-100 space-around categories display-flex list-style" style="margin-bottom: 0;">
            <li><a href="#" onclick="myFunction()" class="dropbtn">Todas as categorias <i class="bi bi-caret-down-fill"></i></a>
                <div id="mydropDown" class="dropdown-content">
                    <a href="{{url_for('filter_by_sementes')}}" class="dropdown-seeds">Sementes</a>
                    <a href="{{url_for('filter_by_aduboF')}}" class="dropdown-Foliarmanure">Adubo Foliar</a>
                    <a href="{{url_for('filter_by_substrato')}}" class="dropdown-substrate">Substrato</a>
                    <a href="#" class="dropdown-biological">Biológico</a>
                    <a href="#" class="dropdown-gardening">Jardinagem</a>
                    <a href="#" class="dropdown-packaging">Embalagens </a>
                </div></li> 
            
            <li><a class="seeds" href="{{url_for('filter_by_sementes')}}">Sementes</a></li>
            <li><a class="foliar-manure" href="{{url_for('filter_by_aduboF')}}">Adubo Foliar</a></li>
            <li><a class="penultimate" href="{{url_for('filter_by_substrato')}}">Substrato</a></li>
            <li><a class="last" href="{{url_for('filter_by_ofertas')}}">Ofertas</a></li>
        </ul>
    </div>

    <form action="{{url_for('result')}}" autocomplete="off">
        <div class="div-input-mobile">
            <input class="input-mobile" placeholder="Digite o produto que deseja" name="q">
        </div>
    </form>

    <script src="{{url_for('static', filename='js/cliente/navbar/index.js')}}"></script>
</body>
</body>

</html>