<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lida Agropecuária</title>
  <link rel="shortcut icon" href="../static/assets/Lida agro.jpg" type="image/icon type">
  <link rel="stylesheet" href="{{url_for('static', filename='css/home/home/main.css')}}">
</head>

<body>
  {% include "navbar.html" %}
  {% include "layout.html" %}
  <div class="content-info-produtos">
    {% for produto in produtos %}
    <ul class="ul-info-produtos">
      {% if produto.desconto > 0 %}
      <div class="div-desconto">
        <p class="text-desconto percent">{{produto.desconto}}%</p>
        <p class="text-desconto">OFF</p>
        {% else %}
        <div class="div-desconto" style="background-color: transparent;">
          <p class="text-desconto percent">25%</p>
          <p class="text-desconto">OFF</p>
          {% endif %}
          <div class="div-image-container">
            <div class="div-child-image">
              <a href="{{url_for('single_page', id=produto.id)}}">
                <img src="{{url_for('static', filename='assets/posts/' + produto.image)}}" alt="{{produto.nome}}"
                  class="div-child-image" /></a>
            </div>
          </div>

          <div class="div-nome-produto">
            <p class="nome-produto">{{produto.nome}}</p>
            {% if produto.desconto > 0 %}
              {% set a = "%0.2f"|format(produto.price|float) %}
              <div class="cifra-real" style="color: #B0B0B0; font-size: 12px; margin-left: 3px; padding-top: 2px;">
              <p class="">R$</p>
              <a href="{{url_for('single_page', id=produto.id)}}">
                <p class="price-produto-sem-desconto" style="color: #B0B0B0; font-size: 12px;">{{a.replace('.',',')}}</p>
              </a>
              </div>
              {% set x = produto.desconto/100 %}
              {% set y = "%0.2f" | format((x * produto.price|float)) %}
              {% set z = "%0.2f" | format((y|float - produto.price|float) *-1) %}

              <div class="cifra-real">
                <a href="{{url_for('single_page', id=produto.id)}}">
                  <p class="">R$</p>
                </a>
                <a href="{{url_for('single_page', id=produto.id)}}">
                  <p class="price-produto-com-desconto"> {{z.replace('.', ',')}}</p>
                </a>
              </div>
              {% else %}
              <div class="cifra-real">
                <a href="{{url_for('single_page', id=produto.id)}}">
                  <p class="">R$</p>
                  {% set h = "%0.2f"|format(produto.price|float) %}
                  <p class="price-produto-com-desconto"> {{h.replace('.', ',')}}</p>
                </a>
              </div>
            {% endif %}
            <a href="{{url_for('single_page', id=produto.id)}}">
              <p class="tipo-compra">À vista</p>
            </a>
            <form action="{{ url_for('AddCarrinho') }}" method="POST">
              <input type="hidden" name="produto_id" value="{{produto.id}}">
              <button type="submit" class="button-compra">COMPRAR</button>
              <input type="hidden" name="quantidade" id="" value="1" min="1" max="{{produto.estoque}}">
            </form>
          </div>
        </div>
    </ul>
    {% endfor %}
  </div>

  <!-- End Content -->
  {% extends "footer.html" %}
</body>

</html>