@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600&family=Poppins&display=swap");

:root {
  --hover: #37a720;
}

.padding-bottom {
  padding-bottom: 1.25rem;
}

.mt-5 h3 {
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.product-relacionado h3 {
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.img-banner-bg {
  background-image: url("../../assets/AGRO-BANNER.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 43.75rem;
  position: relative;
}

.img-banner-text {
  text-align: center;
  margin: auto;
  padding-top: 15%;
  color: white;
}

div .img-banner-text h3 {
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 2vw, 2vw);
}

main .container h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 3em, 3.125rem);
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 3.5625rem;
  margin: 0;
}

div .img-banner-text h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2.5rem, 4vw, 4vw);
}

div .img-banner-text hr {
  margin: auto;
  text-align: center;
  border: 0.125rem solid #339121;
  width: 7.5rem;
  max-width: 7.5rem;
  margin-bottom: 1rem;
}

.container-bg {
  min-width: 100%;
  height: 6.25rem;
  background-color: #339121;
  position: relative;
}

/* Section destaque */
.content-info-produtos-destaques {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
  justify-content: space-evenly;
  padding-top: 5.3125rem;
}

.ul-info-produtos {
  background-color: #ffffff;
  height: 28.125rem;
  max-height: 28.125rem;
  width: 15.625rem;
  max-width: 15.625rem;
  padding: 0;
  border-radius: 0.375rem;
  /* POSITION */
  position: relative;
  /*  */
  margin-bottom: 3.75rem;
  /*  */
  display: flex;
}

.content-info-produtos {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
  justify-content: space-evenly;
  padding-top: 8vh;
  padding-right: 0;
}

.percent {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text-desconto {
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.div-desconto {
  background-color: #339121;
  height: 3.125rem;
  max-height: 3.125rem;
  width: 3.125rem;
  max-width: 3.125rem;
  border-radius: 0.375rem;
}

.div-image-container {
  font-size: 1.5rem;
  margin: 1.5625rem;
  width: 12.5rem;
  max-width: 12.5rem;
  height: 9.375rem;
  /* Setup */
  position: relative;
}

.div-child-image {
  width: 8.125rem;
  height: 8.125rem;
  /* Center vertically and horizontally */
  position: absolute;
  top: 15%;
  left: 25%;
  margin: -1.5625rem 0 0 -1.5625rem; /* Apply negative top and left margins to truly center the element */
}

.div-nome-produto {
  width: 100%;
  position: absolute;
  bottom: 9vh;
}

.nome-produto {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #6b6b6b;
  font-size: 1rem;
  margin-left: 3vh;
  margin-bottom: 0;
  z-index: 2;
}

.cifra-real {
  width: 50%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #339121;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  z-index: 2;
  display: flex;
  padding-left: 1.3125rem;
}

.strikethroug {
  position: relative;
}

.strikethroug:before {
  border-bottom: 0.0625rem solid #339121;
  position: absolute;
  content: "";
  width: 220%;
  height: 50%;
}

.price-produto-sem-desconto {
  width: 45%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: green;
  text-decoration-line: line-through;
  margin: 0;
  color: #b0b0b0;
  z-index: 2;
}

.price-produto-sem-desconto:hover {
  color: var(--hover);
}

.price-produto-com-desconto {
  width: 72%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #339121;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  z-index: 2;
}

.price-produto-com-desconto:hover {
  color: var(--hover);
}

.tipo-compra {
  width: 38%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #b0b0b0;
}

.tipo-compra:hover {
  color: var(--hover);
}

.button-compra {
  width: 80%;
  border: none;
  padding: 0.9375rem;
  border-radius: 0.375rem;
  position: absolute;
  background-color: #339121;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: absolute;
  left: 10%;
}

.button-compra:hover {
  background-color: #37a720;
}

.button-compra:focus {
  background-color: var(--hover);
}

.destaques {
  background-color: #f7f7f7;
  height: 31.25rem;
}

/* Section destaque */
.content-info-produtos-destaques {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
  justify-content: space-evenly;
  background: #f7f7f7;
}

.ul-info-produtos-destaques {
  height: 28.125rem;
  max-height: 28.125rem;
  width: 15.625rem;
  max-width: 15.625rem;
  padding: 0;
  border-radius: 0.375rem;
  /* POSITION */
  position: relative;
  /*  */
  display: flex;
}

.path-green {
  clip-path: circle(50%);
  background-color: #339121;
  width: 6.25rem;
  height: 6.25rem;
  z-index: 1;
  position: absolute;
  top: 5rem;
  margin-left: 1rem;
}

.path-brown {
  clip-path: circle(50%);
  background-color: #574c41;
  position: absolute;
  margin-left: 3.125rem;
  top: 3.125rem;
  left: 1.5rem;
  width: 6.25rem;
  height: 6.25rem;
  z-index: 1;
}

.div-desconto-destaques {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 0.375rem;
}

.div-destaque-img {
  width: 8.125rem;
  height: 8.125rem;
  /* Center vertically and horizontally */
  position: relative;
  top: 15%;
  left: 25%;
  margin: -1.5625rem 0 0 -1.5625rem; /* Apply negative top and left margins to truly center the element */
}

.destaque-img {
  width: 15.125rem;
  /* Center vertically and horizontally */
  position: absolute;
  top: 15%;
  left: -10%;
  bottom: 10%;
  margin: -3.375rem 0 0 -2.25rem; /* Apply negative top and left margins to truly center the element */
  transform: rotate(30deg);
  z-index: 2;
}

.destaques .container h1 {
  position: absolute;
  left: 3.5625rem;
  color: #339121;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@media (max-width: 28.8125rem) {
  main .container h1 {
    font-size: clamp(0.4375rem, 2em, 3.125rem);
    position: absolute;
    top: 30%;
  }
}
