<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <table class="table table-sm table-condensed table-striped">
            <thead>
                <th>Sr</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>SubTotal</th>
                <th>Atualizar</th>
                <th>Remover</th>
            </thead>
            <tbody>
                {% for key, produto in session['Shoppingcart'].items() %}
                {% set desconto = "%0.2f" | format((produto.desconto/100) * produto.price|float) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{produto.nome}}</td>
                    <td>R${{produto.price}}</td>
                    <td>{{produto.quantidade}}</td>
                    {% if produto.desconto > 0 %}
                    <td>{{produto.desconto}}% &nbsp; é {{desconto}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set subtotal = produto.quantidade|int * produto.price|float %}
                    <td>{{"%0.2f"|format((subtotal|float) - desconto|float)}}</td>
                    <td><a href="#">Atualizar</a></td>
                    <td><a href="">Remover</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>